{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="csrf-token" content="{{ csrf_token }}">
        <title>Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{% static 'dashboards/css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3">Seller Panel</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" id="logout_btn" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Home</div>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">SubPages</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Account Options
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" id='seller_store';>Store</a>
                                    <a class="nav-link" id='seller_employee'>Employees</a>
                                </nav>
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" id='seller_orders'>Store Orders</a>
                                </nav>
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" id='seller_change_password'>ChangePassword</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-sidenav-menu-heading"></div>
                            <a class="nav-link" id="seller_products">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Products List
                            </a>
                            <a class="nav-link" id="seller_create_product">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Add Products
                            </a>
                            <a class="nav-link" id="seller_categories">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Categories
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small" id='login_user'>Logged in as:</div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Category List</h1>
                        <div class="container-fluid px-4">
                            <section id="category_section">
                                <!-- Button to redirect to create employee page -->
                                <button id="createCategoryButton" class="btn btn-primary mb-3">Create Employee</button>
                            
                                <!-- Unordered list to display employees -->
                                <ul id="categoryList" class="list-group">
                                    <!-- Employee items will be dynamically added here -->
                                </ul>
                            </section>
                        
                        <div class="row">
                            
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'dashboards/js/scripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script>
            // Function to fetch user profile and populate the form
            async function fetchUserProfile() {
                const accessToken = localStorage.getItem('accessToken');
                if (!accessToken) {
                    console.error('Access token is missing.');
                    return;
                }
        
                try {
                    const response = await fetch('http://127.0.0.1:8000/en/api/customer/dashboard/profile/', {
                        method: 'GET',
                        headers: {
                            'Authorization': `Bearer ${accessToken}`,
                            'Content-Type': 'application/json'
                        }
                    });
        
                    if (!response.ok) {
                        throw new Error('Failed to fetch user profile.');
                    }
        
                    const data = await response.json();
                    populateProfileForm(data); // Assuming the response is an array with one object
                } catch (error) {
                    console.error('Error fetching user profile:', error);
                }
            }
        
            // Function to populate the form with user data
            function populateProfileForm(user) {
                const name_of_profile = document.getElementById('login_user')
                name_of_profile.innerHTML=`Logged in as:${user.username}`
                
            }
        
            // Function to update user profile
            async function updateUserProfile() {
                const accessToken = localStorage.getItem('accessToken');
                if (!accessToken) {
                    console.error('Access token is missing.');
                    return;
                }
        
                const form = document.getElementById('userProfileForm');
                const formData = new FormData(form);
        
                try {
                    const response = await fetch('http://127.0.0.1:8000/en/api/customer/dashboard/profile/', {
                        method: 'PATCH',
                        headers: {
                            'Authorization': `Bearer ${aseller_storeccessToken}`
                        },
                        body: formData
                    });
        
                    if (!response.ok) {
                        throw new Error('Failed to update user profile.');
                    }
        
                    alert('Profile updated successfully!');
                    fetchUserProfile(); // Refresh the form with updated data
                } catch (error) {
                    console.error('Error updating user profile:', error);
                }
            }
        
            // Fetch user profile on page load
            document.addEventListener('DOMContentLoaded', fetchUserProfile);
        </script>
        <script>
            // Redirect to the create employee page
            document.getElementById('createCategoryButton').addEventListener('click', function () {
                window.location.href = "{% url 'category_create' %}";
            });
        
            // Fetch and display the list of employees
            async function fetchCategories() {
                const accessToken = localStorage.getItem('accessToken');
                if (!accessToken) {
                    console.error('Access token is missing.');
                    return;
                }
        
                try {
                    const response = await fetch('http://127.0.0.1:8000/en/api/seller/dashboard/category/', {
                        method: 'GET',
                        headers: {
                            'Authorization': `Bearer ${accessToken}`,
                            'Content-Type': 'application/json'
                        }
                    });
        
                    if (!response.ok) {
                        throw new Error('Failed to fetch employees.');
                    }
        
                    const categories = await response.json();
                    populateCategoryList(categories);
                } catch (error) {
                    console.error('Error fetching categories:', error);
                }
            }
        
            // Populate the category list
            function populateCategoryList(categories) {
                const categoryList = document.getElementById('categoryList');
                categoryList.innerHTML = ''; // Clear the list
        
                categories.forEach(category => {
                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
        
                    // Category name
                    const name = document.createElement('span');
                    name.textContent = `name: ${category.name}`;
                    listItem.appendChild(name);

                    // Parent button
                    const ParentButton = document.createElement('button');
                    ParentButton.textContent = category.parent ? `Parent: ${category.parent}` : 'No Parent';
                    ParentButton.className ='btn btn-success btn-sm';
                    listItem.appendChild(ParentButton);
        
                    // Number of Products for each Category
                    const nums = document.createElement('span');
                    nums.textContent = `Products No's: ${category.num_of_products}`;
                    listItem.appendChild(nums);
        
                    // Edit button
                    const category_id = category.id
                    const editButton = document.createElement('button');
                    editButton.textContent = 'Edit';
                    editButton.className = 'btn btn-warning btn-sm ms-2';
                    

                    editButton.addEventListener('click', () => {
                        window.location.href = `http://127.0.0.1:8000/en/seller/dashboard/category/${category_id}/`;
                    });
                    listItem.appendChild(editButton);
        
                    // Delete button
                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'Delete';
                    deleteButton.className = 'btn btn-danger btn-sm ms-2';
                    function getCSRFToken() {
                        return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                    }
                    
                    // Delete button event listener
                    deleteButton.addEventListener('click', async () => {
                        if (confirm('Are you sure you want to delete this category?')) {
                            try {
                                const response = await fetch(`http://127.0.0.1:8000/en/api/seller/dashboard/category/${category.id}/`, {
                                    method: 'DELETE',
                                    headers: {
                                        'Authorization': `Bearer ${localStorage.getItem('accessToken')}`,
                                        'X-CSRFToken': getCSRFToken(), // Include the CSRF token here
                                        'Content-Type': 'application/json'
                                    }
                                });
                    
                                if (!response.ok) {
                                    throw new Error('Failed to delete category.');
                                }
                    
                                alert('Category deleted successfully!');
                                fetchCategories(); // Refresh the list
                            } catch (error) {
                                console.error('Error deleting category:', error);
                                alert(error.message);
                            }
                        }
                    });
                    listItem.appendChild(deleteButton);
        
                    categoryList.appendChild(listItem);
                });
            }
        // Fetch categories on page load
        document.addEventListener('DOMContentLoaded', fetchCategories);
    </script>
        <script>
            document.getElementById('logout_btn').addEventListener('click', async function(e) {
              e.preventDefault();
          
              const accessToken = localStorage.getItem('accessToken');
              if (!accessToken) {
                  // Already logged out or no token
                  window.location.href = '/en/login/';
                  return;
              }
          
              try {
                  const response = await fetch('http://127.0.0.1:8000/en/api/logout/', {
                      method: 'POST',
                      headers: {
                          'Authorization': `Bearer ${accessToken}`,
                          'Content-Type': 'application/json'
                      }
                  });
          
                  // Remove tokens from localStorage
                  localStorage.removeItem('accessToken');
                  localStorage.removeItem('refreshToken');
          
                  // Redirect to login page (or homepage)
                  window.location.href = `{% url 'home_page'%}`;
              } catch (error) {
                  // Even if error, clear tokens and redirect
                  localStorage.removeItem('accessToken');
                  localStorage.removeItem('refreshToken');
                  window.location.href = `{% url 'home_page'%}`;
              }
          });
      </script>
  
        <script>
            document.getElementById('seller_store').addEventListener('click', function(e) {
              // Prevent the default link behavior
              e.preventDefault();
              
              // Get tokens from local storage
              const accessToken = localStorage.getItem('accessToken');
              const refreshToken = localStorage.getItem('refreshToken');
              
              // Redirect to the dashboard with tokens as parameters
              window.location.href = "{% url 'seller_store'%}";
            });
        </script>

            <script>

              // address redirect
              document.getElementById('seller_employee').addEventListener('click', function(e) {
                // Prevent the default link behavior
                e.preventDefault();
              // Get tokens from local storage
              const accessToken = localStorage.getItem('accessToken');
              const refreshToken = localStorage.getItem('refreshToken');
                
                
                // Redirect to the dashboard with tokens as parameters
                window.location.href = `{% url 'employee_list' %}`;
              });
            </script>
            <script>

              document.getElementById('seller_orders').addEventListener('click', function(e) {
                // Prevent the default link behavior
                e.preventDefault();
                              // Get tokens from local storage
              const accessToken = localStorage.getItem('accessToken');
              const refreshToken = localStorage.getItem('refreshToken');

                // Redirect to the dashboard with tokens as parameters
                window.location.href = `{% url 'seller_orders' %}`;
              });
            </script>
            <script>

              document.getElementById('seller_change_password').addEventListener('click', function(e) {
                // Prevent the default link behavior
                e.preventDefault();
                                              // Get tokens from local storage
              const accessToken = localStorage.getItem('accessToken');
              const refreshToken = localStorage.getItem('refreshToken');

                
                // Redirect to the dashboard with tokens as parameters
                window.location.href = `{% url 'change_password_seller' %}`;
            });
          </script>
          <script>

            document.getElementById('seller_products').addEventListener('click', function(e) {
              // Prevent the default link behavior
              e.preventDefault();
                                            // Get tokens from local storage
            const accessToken = localStorage.getItem('accessToken');
            const refreshToken = localStorage.getItem('refreshToken');

              
              // Redirect to the dashboard with tokens as parameters
              window.location.href = `{% url 'product_list' %}`;
          });
        </script>
        <script>

            document.getElementById('seller_create_product').addEventListener('click', function(e) {
              // Prevent the default link behavior
              e.preventDefault();
                                            // Get tokens from local storage
            const accessToken = localStorage.getItem('accessToken');
            const refreshToken = localStorage.getItem('refreshToken');

              
              // Redirect to the dashboard with tokens as parameters
              window.location.href = `{% url 'create_product' %}`;
          });
        </script>
        <script>

            document.getElementById('seller_categories').addEventListener('click', function(e) {
              // Prevent the default link behavior
              e.preventDefault();
                                            // Get tokens from local storage
            const accessToken = localStorage.getItem('accessToken');
            const refreshToken = localStorage.getItem('refreshToken');

              
              // Redirect to the dashboard with tokens as parameters
              window.location.href = `{% url 'category_list' %}`;
          });
        </script>
          
    </body>
</html>
